.best_container {
  width: 384px;
  height: 169px;
  border-radius: 8px;
  background-color: #f9fafb;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
}

.best_badge {
  padding-bottom: 10px;
}

.best_title {
  display: flex;
  justify-content: space-between;
}

.best_title_text {
  font-weight: 600;
  font-size: 20px;
  color: #1f2937;
}

.best_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best_info_first {
  display: flex;
  gap: 10px;
  align-items: center;
}

.best_info_heart {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.writer {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
}

.like_count {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.times {
  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
}
