.post_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 136px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;
}

.posts_title {
  font-weight: 600;
  font-size: 20px;
  color: #1f2937;
}

.posts_top {
  display: flex;
  justify-content: space-between;
}

.posts_bottom {
  display: flex;
  justify-content: space-between;
}

.best_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best_info_first {
  display: flex;
  gap: 10px;
  align-items: center;
}

.best_info_heart {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.writer {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
}

.like_count {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.times {
  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
}
